*{
 margin:0;
 padding:0;
}
body{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:80vh;
  background-color:#f4e4ba;
}
.container{
  background-color:white;
  padding:1rem;
  border-radius:1rem;
  min-height:45vh;
}
form{
  margin:2rem 0 1rem 0;
}
form select,input,button{
  width:100%;
  border:none;
  outline:none;
  border-radius:0.75rem;
}
input{
  border:1px solid lightgrey;
  font-size:1.3rem;
  padding-left:0.5rem;
  height:2rem;
}
.dropdown{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-top:1rem;
}
i{
  margin-right:0.8rem;
  margin-top:1rem;
  font-size:1.3rem;
}
.select-container img{
  max-width:2rem;
  
}
.select-container{
  display:flex;
  justify-content:center;
  align-items:center;
  
  border-radius:0.5rem;
  border:1px solid lightgrey;
}
.msg{
  margin:1rem 0 1rem 0;
}
form button{
  height:2rem;
  font-size:1.2rem;
  background-color:#af4d98;
  color:#fff;
  cursor:pointer;
}